<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand fw-bold">ShopEase</a>
  
      <!-- Navbar Links (Always Visible) -->
      <div class="navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/products" routerLinkActive="active">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products/add" routerLinkActive="active">Add Product</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
